* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --styl-color: #434455;
  --background-color: #ffffff;
  --styl-colorr: #4d5ae5;
  --styl-colorrr: #2e2f42;
  --background-colorr: #f4f4fd;
  --background-colorrr: #2e2f42;
  --button-color: #e7e9fc;
  --section-five: #8e8f99;
  --section-six:#404bbf;
  --section-seven:#F4F4FD;
}
.buttonn {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--styl-colorr);
  background-color: var(--background-colorr);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-.listcolor: var(--background-color);
  color: var(--styl-color);

  ul {
    list-style-type: none;
  }
  h1 {
    color: var(--WHITE, #fff);
    text-align: center;

    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 107.143% */
    letter-spacing: 1.12px;
  }
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
 gap:72px;
}

.top {
  width: 320px;
  color: #ffffff;
  text-align: center;
  /* Header 1 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 107.143% */
  letter-spacing: 0.72px;
  padding-bottom: 48px;
  text-transform: capitalize; 
}
/* tło pod header */
/* tło pod header */
/* tło pod header */
/* tło pod header */
.hero {
 
  margin: 0 auto;
  padding: 188px 0;
  background: var(--styl-colorrr);
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/res/Dark-bg.jpg);
  background-position: center;
  background-size: cover;
}
/* tło pod header */
/* tło pod header */
/* tło pod header */
/* tło pod header */

.color {
  color: var(--styl-colorr);
}

.web {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;

  align-items: center;
}
.webb {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;

  background-color: var(--background-colorrr);
  padding: 100px 0;
}
.link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link:focus {
  color: #404bbf;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.takietam:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.takietam:focus {
  color: #404bbf;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.linkk:hover {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.linkk:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio .studio {
  color: var(--styll-color, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
}
.studioo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
}
.menu {
  color: #404bbf;
  display: flex;
  justify-content: center;
  color: var(--NAVY-BLUE, #2e2f42);
  text-decoration: none;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
  padding: 24px 0;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}
.address {
 

  color: var(--SLATE, #434455);
  text-decoration: none;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address_
{display: none;}

.button {
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.strategy {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.describtionss {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
  text-align: left;

}
.doing {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.bak {
  
  background-color: #f4f4fd;
}
.bakk {
  
  height: 428;
  background-color: #ffffff;
}
.team {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  background-color: #f4f4fd;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;

  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  background-color: #ffffff;

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.job {
  color: var(--SLATE, #434455);
  text-align: center;
  background-color: #ffffff;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}

.footer {
  color: var(--background-colorr);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 264px;
}

.last {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--styl-colorrr);
  margin-bottom: 8px;
}
.lastt {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: var(--styl-color);
}
img {
  display: block;
}
.border-header-bottom {
  
  display:flex;
  text-align: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  height: 72px;
}
.container {
  
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}
.logo {
  margin-right: 76px;
  text-decoration: none;
}
.container_menu {
  
  display: flex;
  
flex-direction: column;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 24px;
  list-style: none;
  
}

.container_menuu {
  padding-top: 24px;
  padding-bottom: 24px;
}
.sectionn_ {
display: flex;
  padding: 96px 0;
  
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sectionnn_ {
  padding-bottom: 120px;
  display: none;
}
.calc_ {
  width: calc((100% - 3 * 16px) / 3);
}
.what {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.bakk img {
  border-radius: 0px 0px 4px 4px;
}
.worker_ {
  padding: 32px 0px;
}

.inline {
  display: inline-block;
}
img {
  display: block;
}
/*.calc_ li {
  width: calc((100% - 48px) / 3);
}
*/


.portfolio {
  padding: 96px 0 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio_up {
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio button {
  padding: 12px 24px;
  border: 1px solid var(--button-color);
  border-radius: 4px;
}
.portfolio button:hover {
  border: 1px solid transparent;
}
.portfolio button:focus {
  border: 1px solid transparent;
}
.last_list {
  flex-wrap: wrap;
  row-gap: 48px;
}
.test {
  width: calc((100% - 48px) / 3);
}
.end {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.containerr {
  width: 428px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}
.flex {
  display: flex;
  flex-direction: column;
}
.block {
  display: inline-block;
  margin-bottom: 16px;
}
.divek {
  padding: 32px 16px;
}
.takietam {
  position: relative;
  width: calc((100% - 48px) / 3);
}
.takietam li {
  width: calc((100% - 48px) / 3);
}
.flex__ {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 122px;
}
/*
.allign header {
  justify-content: center;
}
*/
.pad {
  padding-top: 48px;
}
.fix {
  margin-bottom: 8px;
}
.ban {
  display: flex;
  justify-content: center;
  list-style: none;

  gap: 40px;
  display: none;
}

.box {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  padding-bottom: 8px;
  gap: 24px;
}

/*sekcja 2*/
.icon {
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  display: none;
}
.media {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 8px;

  gap: 24px;
}
.media-list {
  width: 40px;
  height: 40px;
}
.media-listt {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--styl-colorr);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.media-listt:hover {
  background-color: #404bbf;
}
.media-listt:focus {
  background-color: #404bbf;
}
.social {
  fill: var(--background-colorr);
}

.customers {
  font-size: 36px;
  line-height: 1.11;
  color: var(--styl-colorrr);
  margin-bottom: 72px;
}
.section_new {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 24px;
}
.abc {
  list-style-type: none;
  gap: 16px;
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;

}
.abcdf {
  /*transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
*/
  width: calc((100% - 48px) / 2);
  height: 88px;
  margin-bottom: 72px;
 
}
.abcd {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #8e8f99;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--section-five);
}
.abcd:hover {
  border-color: #404bbf;
}
.abcd:hover {
  color: #404bbf;
}
.abcd:focus {
  border-color: #404bbf;
}
.abcd:focus {
  color: #404bbf;
}
.beta {
  fill: currentColor;
}
.foot {
  padding-left: 269px;
  color: var(--WHITE, #fff);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.footer-padd {
  background-color: var(--background-colorrr);
  padding: 96px 0;
  
}
.div_foot 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.margin {
  /* margin-left: 15px; */
  margin-bottom: 72px;
}
.social_
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}
.fit {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.akapit {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  margin-bottom: 16px;
}
.social {
  display: flex;
  list-style-type: none;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
 
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover {
  background-color: #31d0aa;
}
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-icons {
  
  fill: var(--background-colorr);
 


}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(0) rotate(0deg)
    skew(40deg, 40deg);
}
/*.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover {
  background-color: #404bbf;
  border: none;
}
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}
.class_x {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: #ffffff;
}
.modal-close:focus {
  fill: #ffffff;
}
.overlay {
  position: relative;
  overflow: hidden;
}
.portfolio_acapit {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-colorr);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover .portfolio_acapit {
  transform: translateY(0%);
}

.link:focus .portfolio_acapit {
  transform: translateY(0%);
}
.footer_input {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  
}
.footer_acapit {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer_inputt {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

 

}
.footer_label 
{
}
.footer_window {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  margin-bottom: 16px;
  
 
}
::placeholder {
  color: #ffffff;
}
.footer_button {
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  text-align: center;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;

  border: none;
  margin: 0px auto;

}
.footer-mail-icons {
 
}

.acapit_modal {
  margin-bottom: 16px;
  color: var(--NAVY-BLUE, #2e2f42);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-align: center;
}
.form {
  margin-bottom: 8px;
}
.custom-label {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--section-five);
  margin-bottom: 4px;
  display:block;
}
.custom-input {
  position: relative;
}
.custom-input-icon {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-input-icon:hover{
  border-color: #4d5ae5;
}

.custom-input-icon:focus{
  border-color: #4d5ae5;
}
.custom-input-icon:focus + .custom-svg{
  border-color: #4d5ae5;
  fill:#4d5ae5;
}
.custom-input-icon:hover + .custom-svg{
  border-color: #4d5ae5;
  fill:#4d5ae5;
}
.custom-svg:hover,
.custom-svg:focus
{fill:#4d5ae5;}

.custom-svg {
  
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-input-icon
{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4); 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



}
.comment-input-icon:hover
{
  border-color: #4D5AE5; 
}
.comment-input-icon:focus
{
  border-color: #4D5AE5; 
}
.checked
{display: flex;
  margin-bottom: 24px;
}
.formal{
  margin-bottom: 16px;
}
.visually-hidden
{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.input-comment
{

}
.label-comment
{
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em; 
  color: var(--section-five);
}
.private-policy
{
display: inline-flex;
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
align-items: center;
justify-content: center;
fill: transparent;
margin-right: 8px;
}
.private-policy

.checked input[type="checkbox"]
{
  display: none;
}
.checked label
{
  position: relative;
}
.checked span::before,
.checked span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.checked span.private-policy:hover{cursor: pointer;}


.link-private
{
  color:var(--styl-colorr)
}
.button-send
{
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin: 0 auto;
font-family: "Roboto", sans-serif; 
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border: none;
font-size: 16px;
font-weight: 500; 
line-height: 1.5;
letter-spacing: 0.04em; 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-comment:checked + .label-comment span
{
  background-color:var(--section-six);
  border: none;
  fill:var(--section-seven);
}
.footer-social-iconss {
  
  fill: var(--background-colorr);
margin-left: 16px; 


}
.nowa {
  margin:0px auto;
 
  width:264px;
 
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url('photo@2x.png');
  }
}


}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .ban {
    display: flex;
    justify-content: center;
    list-style: none;
  
    gap: 40px;
   
  }
  .address_
  {
    display: block;
   
  }
  .hero {
 
   
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/people-office\ 1@2x.jpg);
  
  }
  
  .calc {
 
   width: 356px;
  }
  .list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
   flex-direction: row;
    text-align: center;
    justify-content: center;
  gap:24px;
  }
  .abc {

    gap: 24px;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
  
  }
  .abcdf {
    /*transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  */
    width: calc((100% - 48px) / 3);
 
  
  }
  .div_foot 
{
  display: flex;
  
  align-items: baseline;
  justify-content: flex-start;
}
  .margin {
    /* margin-left: 15px; */
    margin-right: 24px;
  }
  .block {
    
    margin-bottom: 16px;
  }
  .footer-padd {
    background-color: var(--background-colorrr);
    padding: 100px 0;
}
.div_foot {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.margin {
  /* margin-left: 15px; */
  margin-right: 120px;
}
.footer {
  color: var(--background-colorr);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 264px;
}
.social_
{
  display: block;
}
.footer-wrap
{
  display: flex;
flex-wrap: wrap;
display: flex;

}
.footer_window
{
  width: 264px;
}
.footer_inputt
 {
display: flex;
gap:16px;


  }
.new_one
{
  display: flex;
  flex-direction: row;
  
}

.footer_input 
{
display: block;
text-align: left;
padding-left: 80px;

  
}
.footer-wrap
{
 
flex-wrap: wrap;
display: flex;
align-items: baseline;
justify-content: flex-start;
gap: 24px;

}


@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .margin {
    /* margin-left: 15px; */
    margin-right: 40px;
  }
  .footer-padd {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-colorrr);
    padding: 100px 0;
    text-align: left;
}
.icon
{
  display: block;
}
.sectionnn_ {
 display: block;
}
.calc {
 
  flex-basis: calc((100% - 72px) / 4);
 }
 .abcdf {
  /*transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
*/
  width: calc((100% - 120px) / 6);
 
 
}
.container_menu {
  
flex-direction: row;
gap:40px;
padding-left: 160px;

}

}